/*Estilo de letra*/
body {
    font-family: sans-serif
}
/*Dando el posicionamiento y estilo a la lista*/
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    background: #2e2e2a;
    line-height: 40px;
    overflow: auto;
}
/*Dando estilo a cada fila y posicionando en forma horinzontal*/
li {
    width: 100px;
    display: inline-block;
    text-align: center;
    float: left;
}
/*Quitando el estilo predeterminado y conviertiendo en bloque a anchor*/
a {
    text-decoration: none;
    color: #fff;
    display: block;
}
/*Dando estilo al posicionar el mouse*/
a:hover {
    background: #f9a91a;
    color: #000;
}